@font-face {
  font-family: IMBPlexMono;
  src: url(./assets/IBMPlexMono.ttf);
}

@font-face {
  font-family: JosefinSans;
  src: url(./assets/JosefinSans.ttf);
}

html {
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.portfolio-content {
  height: 100vh;
}

.portfolio-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
